<%- include('./partials/header') %>
<h1>ANP Official Cabinet List</h1>
<input type="text" id="searchInput" placeholder="Search...">

<table class="table table-striped">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Designation</th>
      <th>Cabinet Type</th>
      <th>Province</th>
      <th>District</th>
      <th>Contact</th>
      <th>Email</th>
      <% if (isAuthenticated) { %>
      <th>Actions</th>
      <% } %>
    </tr>
  </thead>
  <tbody>
    <% employees.forEach(employee => { %>
      <tr>
        <td><img src="/images/<%= employee.image %>" alt="Employee Image" class="employee-image"></td>
        <td><%= employee.name %></td>
        <td><%= employee.designation %></td>
        <td><%= employee.cabType %></td>
        <td><%= employee.province %></td>
        <td><%= employee.district %></td>
        <td><%= employee.contact %></td>
        <td><%= employee.email %></td>
        <% if (isAuthenticated) { %>
        <td>
          <a href="/edit/<%= employee._id %>" class="btn btn-primary btn-sm">Edit</a>
          <a href="/delete/<%= employee._id %>" class="btn btn-danger btn-sm">Delete</a>
        </td>
        <% } %>
      </tr>
    <% }) %>
  </tbody>
</table>
<script src="/js/search.js"></script>
<%- include('./partials/footer') %>