<%- include('./partials/header') %>

<h1>ANP Official Cabinet List</h1>

<table class="table table-striped">
  <thead>
    <tr>
        <th>Image</th>
      <th>Name</th>
      <th>Contact Info</th>
      <th>Designation</th>
      <th>District</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% employees.forEach(employee => { %>
      <tr>
        <td><img src="/images/<%= employee.image %>" alt="Employee Image" class="img-thumbnail"></td>
        <td><%= employee.name %></td>
        <td><%= employee.contact %></td>
        <td><%= employee.designation %></td>
        <td><%= employee.district %></td>
        <td>
          <a href="/edit/<%= employee._id %>" class="btn btn-primary btn-sm">Edit</a>
          <a href="/disable/<%= employee._id %>" class="btn btn-warning btn-sm">Disable</a>
          <a href="/delete/<%= employee._id %>" class="btn btn-danger btn-sm">Delete</a>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>

<%- include('./partials/footer') %>
